<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Admin Dashboard
            <small>description</small>
        </h1>
    </section>

    <!-- Main content -->
    <section class="content container-fluid">
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">Tree Item</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body table-responsive no-padding">
                        <table class="table table-hover">
                            <tbody>
                                <tr>
                                    <th>Tree ID</th>
                                    <th>Name</th>
                                    <th>Child Id</th>
                                    <th>Intro</th>
                                    <th>Action</th>
                                </tr>
                                <tr>
                                    <td>1</td>
                                    <td>Biz</td>
                                    <td>5</td>
                                    <td><a href="javascript:;" target="_blank">https://www.xyz.com</a></td>
                                    <td><a href="javascript:;" class="btn btn-xs btn-primary btn-edt"><i class="fa fa-pencil"></i> Edit</a><a href="javascript:;" class="btn btn-xs btn-danger btn-del"><i class="fa fa-trash"></i> Delete</a></td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>Humanities</td>
                                    <td>7</td>
                                    <td><a href="javascript:;" target="_blank">https://www.xyz.com</a></td>
                                    <td><a href="javascript:;" class="btn btn-xs btn-primary btn-edt"><i class="fa fa-pencil"></i> Edit</a><a href="javascript:;" class="btn btn-xs btn-danger btn-del"><i class="fa fa-trash"></i> Delete</a></td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td>Mathematics</td>
                                    <td>10</td>
                                    <td><a href="javascript:;" target="_blank">https://www.xyz.com</a></td>
                                    <td><a href="javascript:;" class="btn btn-xs btn-primary btn-edt"><i class="fa fa-pencil"></i> Edit</a><a href="javascript:;" class="btn btn-xs btn-danger btn-del"><i class="fa fa-trash"></i> Delete</a></td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td>Science</td>
                                    <td>15</td>
                                    <td><a href="javascript:;" target="_blank">https://www.xyz.com</a></td>
                                    <td><a href="javascript:;" class="btn btn-xs btn-primary btn-edt"><i class="fa fa-pencil"></i> Edit</a><a href="javascript:;" class="btn btn-xs btn-danger btn-del"><i class="fa fa-trash"></i> Delete</a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
            </div>
        </div>
    </section>
    <!-- /.content -->
</div>
